.containerAdmin{
    height: 100%;
    background-image: url(../img/background.jpeg);
    background-size: cover;
    font-family: police;
    padding-bottom: 75px;
    .containerCreation{
        width: 90%;
        padding: 20px 0;
        margin: 15px 5%;
        .creation{
            background-color: $link-hover;
            padding: 10px 75px;
            border: 2px solid black;
            box-shadow: 4px 4px 25px black;
            font-size: 2rem;
            color: white;
            border-radius: 45px;
            text-decoration: none;
            word-spacing: 10px;
            margin-right: 20px;
        }
        .ajoutDomaine{
            background-color: $link-hover;
            padding: 10px 75px;
            border: 2px solid black;
            box-shadow: 4px 4px 25px black;
            font-size: 2rem;
            color: white;
            border-radius: 45px;
            text-decoration: none;
            word-spacing: 10px;
        }
    }
    .containerCardAdmin{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 15px 5%;
        .cardAdmin{
            width: 380px;
            height: 75vh;
            margin-left: 15px;
            margin-top: 15px;
            padding: 10px;
            background-color: white;
            border: 3px solid #3E0018;
            box-shadow: 1px 1px 25px black;
            font-family: police;
            position: relative;
            .cardPictures{
                width: 30%;
                margin-left: 130px;
            }
            .cardTitleAdmin{
                text-align: center;
                font-size: 20px;
                font-family: police-bold;
                color: $link-hover;
                padding: 25px 0px;
            }
            ul{
                text-align: center;
                list-style: none;
                font-family: police-semi-bold;
                margin-bottom: 25px;
                li{
                    line-height: 25px;
                }
            }
            a{
                margin: 7px;
                background-color: #3E0018;
                padding: 5px 30px;
                border-radius: 35px;
                color: white;
                font-size: 20px;
                box-shadow: 4px 4px 20px grey;
                font-family: police-semi-bold;
            }
            .actionAdmin {
                display: flex;
                position: absolute;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
                .deleteAdmin{
                    margin: 7px;
                    background-color: #3E0018;
                    padding: 5px 30px;
                    border-radius: 35px;
                    color: white;
                    font-size: 20px;
                    box-shadow: 4px 4px 20px grey;
                    font-family: police-semi-bold;
                }
            } 
        }
    }
    .titreIndex{
        font-size: 5vh;
        color: $link-hover;
        font-family: police-bold;
        padding: 30px 0px 0px 100px;
    }
}