@font-face{
    font-family:"police";
    src: url("../police/SourceSansPro-Regular.ttf");
}
@font-face {
    font-family:"police-bold";
    src: url("../police/SourceSansPro-Bold.ttf");
}
@font-face {
    font-family:"police-semi-bold";
    src: url("../police/SourceSansPro-SemiBold.ttf");
}