<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    </head>
    <body>
        {% include "navbar.html.twig" %}
        
        {% block body %}
        {% block titre %}{% endblock %}
        
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
